<nav class="navbar navbar-expand-lg navbar-dark bg-primary mt-2 rounded sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">
      <i class="fa-solid fa-hospital me-2"></i>Hospital
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#menu"
      aria-controls="menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#home">
            <i class="fa-solid fa-house me-1"></i>Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#about">
            <i class="fa-solid fa-circle-info me-1"></i>About
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#services">
            <i class="fa-solid fa-stethoscope me-1"></i>Services
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
